<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
        </ul>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>
</header>

<main>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <app-pelicula-listado 
    [listaRecibida]="listaPeliculas"
    (enviarPeliculaRecibidaDeTabla)="asignarADetalle($event)"
    ></app-pelicula-listado>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    <div class="col-lg-4">
        <h2>Para borrar</h2>
        <button class="btn btn-secondary"> Borrar </button>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Solo mostrar</h2>
        <button class="btn btn-secondary"> Mostrar </button>
        <app-detalle-pelicula [peliculaRecibida]="peliculaParaMostrar"></app-detalle-pelicula>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Modificar</h2>
        <button class="btn btn-secondary"> Modificar </button>
    </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div><!-- /.container -->
</main>  
        